body {
  background-color: #18122B;
  color: white;
  padding: 10px 10px 30px 30px;
}

.action-button {
  background-color: #443C68;
  color: #ffffff; 
  padding: 10px 15px; 
  margin: 10px 5px;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 14px; 
  transition: 0.3s background-color ease;
}

.action-button:hover {
  background-color: #5E548C;
}